* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(./assets/ashpaul.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    border-radius: 25px;
    width: 750px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.6);
}

header {
    text-align: center;
    font-size: 36px;
    margin: 0 20px 25px 20px;
}

#city-finder {
    position: relative;
    left: 30%;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

#current-loc {
    border-radius: 50%;
    background-color: grey;
    position: relative;
    left: 32%;
    width: 22px;
    height: 22px;
    border: 2px double black;
}

#current-loc:hover {
    
}

#inner-container {
    margin-top: 20px;
    width: 700px;
}

#left-input, #right-input {
    display: inline-block;
    margin-left: 50px;  
    border-radius: 5px;
    border: 1px solid black;
}

#left-input:hover, 
#right-input:hover,
#city-finder:hover {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
}

#left input, #right input{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#btn-fight {
    position: relative;
    left: 44%;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to top right, white, rgb(255, 106, 106));
}

#btn-fight:hover {
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to top right, rgb(250, 198, 198), rgb(194, 63, 63));
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#positioning {
    display: flex;
    justify-content: space-around;
    margin-top: -260px;
}

#positioning h2 {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 24px;
}

#positioning p {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    color: white;
}

#live-battle {
    background-image: url(assets/arena.jpg);
    width: 600px;
    height: 330px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

/* bottom left pokemon img*/
#p1Img {
    position: relative;
    top: 120px;
    left: 30px;
    width: 200px;
}

/*if pokemon doesnt have back sprite, flips front sprite*/
.flip-front-back {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*top right pokemon img*/
#p2Img {
    position: relative;
    top: 30px;
    left: 150px;
    width: 200px;
}

/*attack effect for bottom left poke*/
.attack1 {
    transform: rotate(8deg);
}

/*attack effect for top right poke*/
.attack2 {
    transform: rotate(-8deg);
}

/*effect when attacked by opp, shrinks a little*/
.hit {
    transform: scale(0.8);
}

/*when lost in battle, opacity is halfed*/
.ko {
    opacity: 0.5;
}

.win, 
.lose {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

#left-stats, 
#right-stats {
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8 );
    border-radius: 10px;
    border: 3px solid black;
}

#left-stats {
    margin-left: 100px;
}

#right-stats {
    margin-right: 100px;
}