* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(./assets/ashpaul.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

#top-page {
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px 0px 2px 0px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 17px 25px rgba(0, 0, 0, 0.5);
}

#instructions {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
}

#instructions:hover {
    color: rgb(238, 129, 129);
    transform: scale(1.05);
    text-shadow: 5px 5px 40px rgb(255, 14, 14);
    transition: text-shadow 0.25s ease, transform 0.25s ease;
}
#pokedex {
    padding-top: 5px;
    margin-left: 25px;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
}

#pokedex:hover {
    color: rgb(238, 129, 129);
    transform: scale(1.05);
    text-shadow: 5px 5px 40px rgb(255, 14, 14);
    transition: text-shadow 0.25s ease, transform 0.25s ease;
}

#container {
    border-radius: 25px;
    width: 750px;
    height: 500px;
    margin: auto;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 0 20px 25px 20px;
}

#city-finder {
    position: relative;
    left: 30%;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

#inner-container {
    margin-top: 20px;
    width: 700px;
}

#left-input, #right-input {
    display: inline-block;
    margin-left: 50px;  
    border-radius: 5px;
    border: 1px solid black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#left-input:hover, 
#right-input:hover,
#city-finder:hover {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
}

#btn-fight {
    position: relative;
    left: 44%;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to top right, white, rgb(255, 106, 106));
}

#btn-fight:hover {
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to top right, rgb(250, 198, 198), rgb(194, 63, 63));
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#positioning {
    display: flex;
    justify-content: space-around;
    margin-top: -260px;
}

#positioning h2 {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 24px;
}

#positioning p {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    color: white;
}

#live-battle {
    background-image: url(assets/arena.jpg);
    width: 600px;
    height: 330px;
    margin: auto;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8);
}

/* bottom left pokemon img*/
#p1Img {
    position: relative;
    top: 120px;
    left: 30px;
    width: 200px;
}

/*if pokemon doesnt have back sprite, flips front sprite*/
.flip-front-back {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*top right pokemon img*/
#p2Img {
    position: relative;
    top: 30px;
    left: 150px;
    width: 200px;
}

/*attack effect for bottom left poke*/
.attack1 {
    transform: rotate(8deg);
}

/*attack effect for top right poke*/
.attack2 {
    transform: rotate(-8deg);
}

/*effect when attacked by opp, shrinks a little*/
.hit {
    transform: scale(0.8);
}

/*when lost in battle, opacity is halfed*/
.ko {
    opacity: 0.5;
}

.win, 
.lose {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

#left-stats, 
#right-stats {
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8 );
    border-radius: 10px;
    border: 3px solid black;
}

progress[value] {
    margin-left: 20px;
    margin-top: 10px;
}

#left-stats {
    margin-left: 100px;
}

#right-stats {
    margin-right: 100px;
}

#weather-info {
    position: absolute;
    top: 30px;
    right: 80px;
    border-radius: 10px;
    width: 250px;
    height: 220px;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.6);
}

#arena {
    font-size: 32px;
    text-align: center;
    margin-top: 5px;
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif
}

#city-name {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

#time {
    font-size: 24px;
    text-align: center;
    margin-top: -100px;
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif
}

#temp {
    text-align: center;
    margin-top: 90px;
    font-size: 42px;
}

#icon {
    margin-left: 75px;
    width: 100px;
}

@media screen and (max-width: 1300px) {
   #weather-info {
        right: 20px;
    }
    #left-stats {
        margin-left: 50px;
    }
    #right-stats {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1300px) {
    #left-stats {
        margin-left: 20px;
    }
    #right-stats {
        margin-right: 20px;
    }
    #weather-info {
        width: 180px;
        margin-right: 15px;
    }
    #icon {
        margin-left: 40px;
        width: 100px;
    }
    #container {
        width: 600px;
    }
    #inner-container {
        margin-top: 20px;
        width: 500px;
        display: inline-block;
    }
    #left-input, #right-input {
        font-size: 20px;
        margin-left: 180px;
    }
    #city-finder {
        left: 25%;
    }
    #btn-fight {
        position: relative;
        left: 0%;
    }
}

@media screen and (max-width: 1000px) {
    #container {
        height: 100px;
        width: 600px;
        margin-left: 20px;
        margin-top: 50px;
    }
    h1 {
        font-size: 20px;
        margin: 0 10px 10px 10px;
    }
    #city-finder {
        width: 200px;
        font-size: 16px;
        left: 32%;
    }
    #left-input, #right-input {
        margin-left: 50px;  
        font-size: 16px;
        width: 200px;
    }
    #right-input {
        position: absolute;
        left: 250px;
    }
    #btn-fight {
        top: -10px;
    }
    #positioning {
        margin-top: 100px;
        width: 900px;
        justify-content: center;
        margin-left: -35px;
    }
    #live-battle {
        width: 400px;
    }
    #weather-info {
        width: 150px;
        height: 180px;
        margin-top: 50px;
        left: 640px;
    }
    #temp {
        font-size: 28px;
    }
    #icon {
        width: 50px;
        margin-left: 45px;
    }
    #p1Img {
        top: 150px;
        left: 15px;
    }
    #p2Img {
        top: -170px;
        left: 200px;
    }
    #left-stats, 
    #right-stats {
        margin-top: 50px;
        height: 250px;
        width: 150px;
    }
    #left-stats {
        margin-left: 70px;
    }
    #right-stats {
        margin-right: 70px;
    }
    progress[value] {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    #container {
        height: 150px;
        width: 400px;
        margin: auto;
        margin-top: 50px;

    }
    h1 {
        font-size: 20px;
        margin: 0 10px 10px 10px;
    }
    #city-finder {
        width: 200px;
        font-size: 16px;
        left: 25%;
    }
    #left-input, #right-input {
        margin-left: 20%;  
        font-size: 16px;
        width: 200px;
    }
    #right-input {
        position: relative;
        left: 0%;
    }
    #btn-fight {
        top: -50px;
        left: 315px;
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
    }
    #weather-info {
        width: 150px;
        height: 180px;
        margin-top: 250px;
        left: 120px;
    }
    #positioning {
        display: inline-block;
    }
    #live-battle {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 275px;
        left: 300px;
    }
    #p1Img {
        position: absolute;
        margin-top: -75px;
        width: 130px;
    }
    #p2Img {
        position: absolute;
        margin-top: 160px;
        width: 130px;
    }
    #left-stats, 
    #right-stats {
        position: absolute;
        margin-top: 150px;
        height: 210px;
        width: 150px;
    }
    #left-stats {
        margin-left: 220px;
    }
    #right-stats {
        margin-left: 420px;
    }
}

@media screen and (min-width: 640px) {

}