body{
    background: url(./assets/ashpaul.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.card {
    list-style: none;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.6); 
    color: rgb(70, 67, 67);
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.6);
}
.card:hover {
    transition: text-shadow 0.25s ease, transform 0.25s ease;
        transform: scale(1.05);

};

.card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    font-weight: lighter;
    color: rgb(70, 67, 67);
    margin-top: 5px;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
}
.card-image {
    height: 250px;
}

.container {
    padding: 40px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 54px;
    color: black;
}

#top-page {
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px 0px 2px 0px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 17px 25px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.instructions {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
}

.instructions:hover {
    color: rgb(238, 129, 129);
    transform: scale(1.05);
    text-shadow: 5px 5px 40px rgb(255, 14, 14);
    transition: text-shadow 0.25s ease, transform 0.25s ease;
}