* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(./assets/ashpaul.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

#top-page {
    height: 25px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px 0px 2px 0px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 17px 25px rgba(0, 0, 0, 0.5);
}

#instructions {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 24px;
    display: inline-block;
}

#instructions:hover {
    color: rgb(238, 129, 129);
    transform: scale(1.05);
    text-shadow: 5px 5px 40px rgb(255, 14, 14);
    transition: text-shadow 0.25s ease, transform 0.25s ease;
}

#container {
    border-radius: 25px;
    width: 750px;
    height: 500px;
    margin: auto;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 20px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 0 20px 25px 20px;
}

#city-finder {
    position: relative;
    left: 30%;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

#current-loc {
    border-radius: 50%;
    background-color: grey;
    position: relative;
    left: 32%;
    width: 22px;
    height: 22px;
    border: 2px double black;
}

#current-loc:hover { /* current location circle button */
    
}

#inner-container {
    margin-top: 60px;
    width: 700px;
}

#left-input, #right-input {
    display: inline-block;
    margin-left: 50px;  
    border-radius: 5px;
    border: 1px solid black;
}

#left-input:hover, 
#right-input:hover,
#city-finder:hover {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
}

#left input, #right input{
    font-size: 24px;
    text-align: center;
}

#left-img, #right-img {
    width: 200px;
    display: inline-block;
    margin-left: 120px;  
}

#btn-fight {
    position: relative;
    left: 45%;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(to top right, white, rgb(255, 106, 106));
}

#btn-fight:hover {
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to top right, rgb(250, 198, 198), rgb(194, 63, 63));
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
}